body {
    background-color: hsl(79, 15%, 7%);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: center;
}

.pane {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-top: 24px;
}

.pane:first-child {
    margin-right: 18px;
}

.editor {
    width: 300px;
    height: 300px;
    margin-bottom: 18px;
    margin-top: 2px;
}

#output-editor {
    height: 60px;
}

.blue {
    width: 146px;
    background-color: hsl(220, 100%, 50%);
    color: hsl(80, 12%, 95%);
    font-weight: bold;
    font-size: 16px;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-bottom-color: hsl(220, 100%, 30%);
    height: 35px;
    margin: 0 4px 0 0;
    padding: 3px 8px 0 8px;
    outline: none;
}
